NODE_ENV=development
NODE_PORT=2026
DATABASE_CHOICE="MYSQL"

DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_PASSWORD=""
DATABASE_USERNAME=""
DATABASE_NAME=""
DATABASE_URL=""

MONGO_URL=""

ACCESS_SECRET=""
ACCESS_TIME=""
REFRESH_SECRET=""
REFRESH_TIME=""
RESET_TIME=""
RESET_SECRET=""
JWT_VERIFICATION_TOKEN_SECRET=""
OTP_EXPIRY_TIME=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_BUCKET_NAME=""
GOOGLE_BUCKET_HLS=""
GOOGLE_BUCKET_KEY_JSON=""
GCP_PROJECT_ID=""
GCP_LOCATION=""

REDIS_HOST=""
REDIS_PORT=""
REDIS_CACHE_TTL=""
REDIS_PASSWORD=""

CLOUD_UPLOAD_OPTION=""
